body {
    font-family: Arial, sans-serif;
    background-color: #f1eaea;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #bb9f9f;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    padding: 8px;
    width: 70%;
    border-radius: 5px;
    border: 1px solid #3a2828;
}

button {
    padding: 8px 15px;
    background-color: #9e4caf;
    color: #fff;
    border: none;
    border-radius: 550px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #8a3e3e;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete-btn {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #d32f2f;
}
